<footer class="footer">
  <div class="container">
    <span class="text-muted">
      Made with <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>️ by C.Coumarane
    </span>
    <!--<div class="share-bar">
      <ul class="nav navbar-nav pull-right">
        <li class="nav-item">
          <a class="nav-link" href="https://fr.linkedin.com/in/coumarane-couppane-712a2415"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/coumarane"><i class="fa fa-github" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://facebook.com/c.coumar"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>-->
    <div class="share-bar">
      <ul>
        <li>
          <a class="nav-link" target="_blank" href="https://fr.linkedin.com/in/coumarane-couppane-712a2415"><i class="share-link-linkedin fa fa-linkedin" aria-hidden="true"></i></a>
        </li>
        <li>
          <a class="nav-link" target="_blank" href="https://github.com/coumarane"><i  class="share-link-github fa fa-github" aria-hidden="true"></i></a>
        </li>
        <li>
          <a class="nav-link" target="_blank" href="http://facebook.com/c.coumar"><i class="share-link-facebook fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li>
          <a class="nav-link" href="mailto:c.coumarane@gmail.com?subject=Contact - Reason&body=Your message"><i class="share-link-envelope fa fa-envelope-o" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>