.container-contact {
    margin-top: 10px; 
    margin-bottom: 10px;
}

.contact-form {
  width: 100%;
}

.contact-full-width {
  width: 100%;
}

.contact-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.contact-button-row a {
    color: snow;
    background-color: orangered;
}

.contact-button-row a:hover {
    color: #369;
    text-decoration: none;
    background-color: navajowhite;
    color: orangered;
}


ul {
    margin-bottom: 14px;
    list-style: none;
}

li { 
  width: 300px; 
  height: 30px;  
  margin: 14px 0 7px 0;
  padding-left: 10px;
}

li a { 
  display: block;
  width: 300px;
  height: 30px;
  margin: 0 0 7px 0;
  background: #F7F5F2;
  font-size: 18px;
  color: #333;
  padding: 5px 0 0 20px;
  text-decoration: none;
}

li a:hover { background-color: #EFEFEF; }

.orange { border-left: 5px solid #F5876E; }

.blue{ border-left: 5px solid #61A8DC; }

.green{ border-left: 5px solid #8EBD40; }

.purple { border-left: 5px solid #988CC3; }

.gold { border-left: 5px solid #D8C86E; }

