.container-contact {
    margin-top: 10px; 
    margin-bottom: 10px;
}

.contact-form {
  width: 100%;
}

.contact-full-width {
  width: 100%;
}

.contact-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.contact-button-row a {
    color: snow;
    background-color: orangered;
}

.contact-button-row a:hover {
    color: #369;
    text-decoration: none;
    background-color: navajowhite;
    color: orangered;
}