
<div class="container">
  <!-- First row -->
  <div class="row">

    <div class="col-xs-12 col-md-12">
      <!-- Card -->
      <article class="card animated fadeInLeft">
        
        <div class="card-block">
          <h4 class="card-title">About</h4>
          <p class="card-text">
          I, Coumarane Couppane, possess over 10 years of Information Technology experience with leading global IT services companies such as Mutuaide, Tool-Fitness (Groupe Go Sport), Nielsen, Ineo-Orrma, CBT Informatique  , Hachette Filipacchi Médias (HFM) , Cabinet Raffour Interactif, Cyber Studio and Altix-France.
          </p>
          <p class="card-text">
          Post-completion of a BTEC in Electronic from Jean-Jaurès Châtenay-Malabry (92290), I began my career as a trainee as Micro Technician with Altix-France, Paris - where I worked from June 1999 – December 1999. The formative phase of my career provided me with excellent IT exposure, where I learnt computer assembling and all about hardware and software support. Subsequently, I was hired by Cyber Studio, a leading web development company, where I worked between June 2000 - December 2000. Cyber studio was my first experience working on client web sites and provided me with an opportunity to work on technologies like PHP, My SQL, ASP/SQL SERVER, JavaScript and DHTML. Was later hired by Cabinet Raffour Interactif (May 2001 – April 2002) where I expanded my Web Server and database experience.
          </p>
          <p class="card-text">
          At Hachette Filipacchi Médias (HFM), where I worked between May 2002 - August 2003, I was required to develop and administer network systems. The role required me to configure the internet by providing internet services as well as the usual security and protection. Further, I was also responsible for all installation, support and helpdesk. The organisations I worked after helped me expand on my knowledge and focus more on server technologies.
          </p>
          <p class="card-text">
          Since 2004, I have been working with AC Nielsen- as a Solution Developer & Project Coordinator, a leading provider of Market Analytics - a high end knowledge process service company to global retail customers. The continuous learning opportunity combined with the flexibility, freedom and support provided by the management of the company has helped me hone my IT skills.
          </p>
          <a [routerLink]="['/']" class="btn btn-primary">Home</a>
        </div>
      </article><!-- .end Card -->
    </div>
  </div>
</div>