<div class="container">
  <!-- First row -->
  <div class="row">

    <div class="col-xs-12 col-md-12">
      <!-- Card -->
      <article>
        
        <div class="card-block">
          <h4 class="card-title">Work experience</h4>
          <p class="card-text">
          
          </p>
          
          <ul class="timeline">
            
            <li>
              <div class="time">Dec. 2015 - Present</div>
            </li>
            <li>
              <div class="circle"></div>
              <div class="panel">
                <div class="heading">
                  <span class="title">Developer - Mutuaide Assistance Groupe GROUPAMA</span>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 1 year and 4 month</small></p>
                </div>
                <div class="body">
                  <p>I was join the company to develop a new web solution</p>
                  <a href="#0" class="read-more">Read more</a>
                </div>
              </div>
            </li>

            <li>
              <div class="time">July 2015 - December 2015</div>
            </li>
            <li class="timeline-inverted"> 
              <div class="circle"></div>
              <div class="panel">
                <div class="heading">
                  <span class="title">Solutions Architect - Groupe GO Sport</span>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 5 month</small></p>
                </div>
                <div class="body">
                  <p>Groupe GO Sport</p>
                  <a href="#0" class="read-more">Read more</a>
                </div>
              </div>
            </li>

            <li>
              <div class="time">June 2013 - June 2015</div>
            </li>
            <li>
              <div class="circle"></div>
              <div class="panel">
                <div class="heading">
                  <span class="title">Solutions Architect - TOOL SPORT</span>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3 year</small></p>
                </div>
                <div class="body">
                  <p>
                    TOOL SPORT, e-commerce web site, high-growth, is a French leader in the sale of sports equipment on the Internet with its two sites: ToolFitness and ToolVélo.
                  </p>

                  <p>
                    Position and duties:
                  </p>
                  <p>
                    Technical design and modeling
                    Drafting of detailed specifications
                    Development of modules and applications in accordance with the deadlines
                    Writing technical documentation associated
                    Customer support
                  </p>
                  <a href="#0" class="read-more">Read more</a>
                </div>
              </div>
            </li>

            <li>
              <div class="time">April 2006 – April 2012</div>
            </li>
            <li class="timeline-inverted"> 
              <div class="circle"></div>
              <div class="panel">
                <div class="heading">
                  <span class="title">Solution developer - Nielsen</span>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 6 year and 1 month</small></p>
                </div>
                <div class="body">
                  <p>I have worked as a fully contributing team member while assigning projects to off-shore teams (TCS Chennai dev team).</p>
                  <p>I have also been guiding the off-shore teams (TCS Baroda production team) by not only creating the project specifications and guideline but also overseeing and directing them to complete the projects correctly and efficiently within the given time frame and assist them with problems or technical issues that may arise. Further to this I have also been responsible to initiate parallel-runs in order to validate and sign-off the report that had to be handed over.</p>
                  <p>I have developed lot of customization reports, with C#, VBA Excel and Nielsen Softwares, for clients like Nesltlé, Unilver, Ferrero, Danone, Wilkinson, Procter & Gamble, Reckitt Benckiser, Bongrain, Kraft, SC Johnson, Barilla, etc…</p>
                  <p>Designed and Coordinated with off-shore development team on the complexity project as per example the report on “Innovation of products” for the client Bledina.</p>
                  <a href="#0" class="read-more">Read more</a>
          
                </div>
              </div>
            </li>

          </ul>
          

          <a [routerLink]="['/']" class="btn btn-primary">Home</a>
        </div>
      </article><!-- .end Card -->
    </div>
  </div>
</div>