<div class="container m-t-md">
  <!-- First row -->
  <div class="row">

    <div class="col-xs-12 col-md-4">
      <!-- Card -->
      <article class="card animated fadeInLeft">
        <img class="card-img-top img-responsive" src="../../assets/images/coupc_pondicherry.jpg" alt="Card Image" />
        <div class="card-block">
          <h4 class="card-title">About</h4>
          <h6 class="text-muted">Coumarane COUPPANE, 42 years old</h6>
          <p class="card-text">
            Currently Working in Mutuaide Assistance (IT services)
          </p>
          <p class="card-text">
            Lives in Paris, France 
          </p>
          <p class="card-text">
            Married
          </p>
          <a routerLink="/profile" class="btn btn-primary">Read more</a>
        </div>
      </article><!-- .end Card -->
    </div>

    <div class="col-xs-12 col-md-4">
      <!-- Card -->
      <article class="card animated fadeInUp">
        <img class="card-img-top img-responsive" src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/SYC0YBA37V.jpg" alt="Card Image" />
        <div class="card-block">
          <h4 class="card-title">Work experience</h4>
          <h6 class="text-muted">December 2015 - Present (Mutuaide Assistance)</h6>
          <p class="card-text">
            I work as developper .net building a new web application...
          </p>
          <a routerLink="/work-experience"  class="btn btn-primary">Read more</a>
        </div>
      </article><!-- .end Card -->
    </div>

    <div class="col-xs-12 col-md-4">
      <!-- Card -->
      <article class="card animated fadeInRight">
        <img class="card-img-top img-responsive" src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/8SALDQRRZX.jpg" alt="Card Image" />
        <div class="card-block">
          <h4 class="card-title">Technical skills</h4>
          <h6 class="text-muted">.net</h6>
          <p class="card-text">
            Angular 2 : I am currently experimenting the framework Angular 2.
          </p>
          <div class="skillbar clearfix " data-percent="20%">
            <div class="skillbar-title" style="background: #2c3e50;"><span>Angular 2</span></div>
            <div class="skillbar-bar" style="background: #2c3e50; width: 100%;"></div>
            <div class="skill-bar-percent">20%</div>
          </div> <!-- End Skill Bar -->

          <div class="skillbar clearfix " data-percent="80%">
            <div class="skillbar-title" style="background: #d35400;"><span>.Net</span></div>
            <div class="skillbar-bar" style="background: #e67e22; width: 100%;"></div>
            <div class="skill-bar-percent">80%</div>
          </div> <!-- End Skill Bar --> 
          
         <!-- <div class="skillbar clearfix " data-percent="25%">
            <div class="skillbar-title" style="background: #2980b9;"><span>Java</span></div>
            <div class="skillbar-bar" style="background: #3498db;"></div>
            <div class="skill-bar-percent">80%</div>
          </div>--> <!-- End Skill Bar -->
          <!--<div class="skillbar clearfix " data-percent="100%">
            <div class="skillbar-title" style="background: #27ae60;"><span>JQuery</span></div>
            <div class="skillbar-bar" style="background: #2ecc71;"></div>
            <div class="skill-bar-percent">100%</div>
          </div>--> <!-- End Skill Bar -->

          <a routerLink="/technical-skills"  class="btn btn-primary">Read more</a>
        </div>
      </article><!-- .end Card -->
    </div>

  </div><!-- .end First row -->

  
</div>